In [ ]:
# Using tensorflow python 37 Environment

In [1]:
import logging
from typing import Optional, Tuple

import numpy as np
import pandas as pd
from scipy.interpolate import interp1d

# from PyEMD.splines import akima, cubic_spline_3pts
# from PyEMD.utils import get_timeline

import pylab as plt
import warnings
import time
from pandas import concat
from pandas import DataFrame
from numpy import array

In [2]:
from math import sqrt

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Bidirectional, TimeDistributed
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Activation, Dropout, Flatten, Conv1D, MaxPooling1D, ConvLSTM2D
# from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
import warnings
import seaborn as sns
warnings.filterwarnings("ignore")

In [ ]:
# 01. Upload Data

In [3]:
df_Br = pd.read_csv('Br_close.csv')
df_Br.set_index(pd.DatetimeIndex(df_Br['Date']), inplace=True)
df_Br.drop(['Date'],axis=1,inplace=True)
df_Br.head()

            Close
Date
2000-01-04  24.39
2000-01-05  23.73
2000-01-06  23.62
2000-01-07  23.09
2000-01-10  23.73

In [ ]:
# 02. Knowing How Much IMF in each Date

In [ ]:
# Upload Data Jumlah Kol

In [4]:
df_Kol = pd.read_csv('Jumlah_IMF_CEEMD.csv')
df_Kol.set_index(pd.DatetimeIndex(df_Kol['Date']), inplace=True)
df_Kol.drop(['Date'],axis=1,inplace=True)
df_Kol.head()

            Jum_Kol
Date
2018-11-27       10
2018-11-28       11
2018-11-29       10
2018-11-30       11
2018-12-03       11

In [ ]:
# 03. Univariate MLP

In [ ]:
# Prediksi data IMF 1 semua

In [5]:
def train_test_split(data, n_test):
    return data[:-n_test], data[-n_test:]

In [6]:
def split_sequence(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
        # find the end of this pattern
        end_ix = i + n_steps
        # check if we are beyond the sequence
        if end_ix > len(sequence)-1:
            break
        # gather input and output parts of the pattern
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)

In [7]:
def series_to_supervised(data, n_in, n_out=60):
    df = DataFrame(data)
    cols = list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
    # put it all together
    agg = concat(cols, axis=1)
    # drop rows with NaN values
    agg.dropna(inplace=True)
    return agg.values

In [8]:
# Untuk Horizon lebih dari satu
def split_sequence2(sequence, n_steps_in, n_steps_out):
    X, y = list(), list()
    for i in range(len(sequence)):
        # find the end of this pattern
        end_ix = i + n_steps_in
        out_end_ix = end_ix + n_steps_out
        # check if we are beyond the sequence
        if out_end_ix > len(sequence):
            break
        # gather input and output parts of the pattern
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix:out_end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)

In [ ]:
# Testing 2 Hor :

In [9]:
lim = 840
iIMF = 1 # Letak IMF yang diambil
n_test = 60 # horizon = 35
pred_iIMF = []

In [10]:
pred_all = []

In [12]:
# Parameter and Define MLP Model 
n_steps = 80 # sebelumnya 36
n_input = 80
n_steps_out = 60
n_nodes = 150
n_epochs = 100
n_batch = 100

In [ ]:
# Ini Proses Sekaligus semua IMF
start = time.time()
lim = 840
n_test = 60 # horizon = 2

pred = []

for i in range (1, 841): # s/d 901
    if i % 60 != 0:
        continue
    df_coba2 = pd.read_csv(f'CEEMD_-{lim-i}.csv')
    df_coba2.set_index(pd.DatetimeIndex(df_coba2['Date']), inplace=True)
    df_coba2.drop(['Date'],axis=1,inplace=True)
    bar, kol = df_coba2.shape
    all_pred = np.zeros(60) # dua elemen karena horizon 2
    
    for j in range (0, kol):
        imfs_x = df_coba2[f'{j+1}'].values
        train, test = train_test_split(imfs_x, n_test)
        
        # prepare data
        data = series_to_supervised(train, n_input)
        train_x, train_y = data[:, :-60], data[:, -60:] # dikasih -30:
        # define model
        model = Sequential()
        model.add(Dense(n_nodes, activation='relu', input_dim=n_input))
        model.add(Dense(60))
        model.compile(loss='mse', optimizer='adam')
        # fit
        model.fit(train_x, train_y, epochs=n_epochs, batch_size=n_batch, verbose=0)
        
        # history = [x for x in train]
        x_input = train[-n_steps:].reshape((1, n_steps))
        # x_input = array(history[-n_input:]).reshape(1, n_input)
        # forecast
        yhat = model.predict(x_input, verbose=0)
    
        for k in range(0, n_steps_out):
            all_pred[k] += list(yhat[0])[k]
                   
    for l in range(0, n_steps_out):
        pred.append(all_pred[l])
    print(' > proses ke %i' % i)

print('it took: ', (time.time()-start)*1000)
pred

 > proses ke 480
 > proses ke 510
 > proses ke 540
 > proses ke 570
 > proses ke 600
 > proses ke 630
 > proses ke 660

In [ ]:
# Ini Proses tiap IMF

In [ ]:
# INGAT NEXT adalah
# Pengambilan s/d 121 - 151 ; len harusnya 5, 10 atau 15; total sampai 246 - 251, s/d Proses 50
# Proses 24 ke 30 
'''for k in range(0, len(pred_iIMF)):
    pred_all.append(pred_iIMF[k])
len(pred_all)'''

In [ ]:
# pred_all

In [ ]:
# pred_all

In [ ]:
# Simpan File tiap 50
'''
lim = 250
i = 10
df_coba3 = pd.DataFrame(df_Br.index[-250:-240].values, columns=['Date'])
df_coba3['pred'] = pred_all
df_coba3.set_index(pd.DatetimeIndex(df_coba3['Date']), inplace=True)
df_coba3.drop(['Date'],axis=1,inplace=True)'''
# df_coba3.to_csv(f'Pred_MLP1_iINF1_-{lim}-{lim-i}.csv',index=True)
# df_coba3.to_excel(f'Pred_MLP1_iINF1_-{lim}-{lim-i}.xlsx',sheet_name='Sheet1',index=True)

In [ ]:
# Ini Yang sekaligus IMF

In [14]:
# INGAT NEXT adalah
# Pengambilan s/d 121 - 151 ; len harusnya 5, 10 atau 15; total sampai 246 - 251, s/d Proses 50
# Proses 24 ke 30 
for k in range(0, len(pred)):
    pred_all.append(pred[k])
len(pred_all)

450

In [15]:
pred_all

[52.776236809790134,
 53.76026549190283,
 54.732227981090546,
 53.583981558680534,
 53.26768797636032,
 53.70676676928997,
 54.709977181628346,
 55.176204800605774,
 57.06734611093998,
 57.41762122511864,
 57.87475875765085,
 58.151406824588776,
 60.404584899544716,
 60.5330153927207,
 60.87082353234291,
 61.52160701298271,
 62.34575375914574,
 61.126445919275284,
 61.25374299287796,
 60.35468965768814,
 61.080808877944946,
 60.98763858526945,
 61.066810762509704,
 60.32539162039757,
 60.87377391755581,
 59.77375113964081,
 61.342189729213715,
 60.68982197344303,
 60.440769001841545,
 59.171523317694664,
 62.70017406344414,
 62.56637728214264,
 61.48631927371025,
 61.30392390489578,
 61.19397822022438,
 62.23017102479935,
 63.80173260718584,
 65.60272427275777,
 65.55296387523413,
 65.59524347539991,
 65.70601547509432,
 64.90792036987841,
 65.76167775690556,
 65.93437317758799,
 66.17379296943545,
 65.83827666938305,
 65.14137632772326,
 65.19927810132504,
 64.89041761308908,
 66.11463686823845,
 65.4946790933609,
 65.50136169791222,
 65.50982144474983,
 64.93419382721186,
 64.79229550808668,
 63.76674176007509,
 65.00463484227657,
 64.74014985561371,
 63.67025258112699,
 63.234263218939304,
 68.56324784457684,
 67.90391486883163,
 67.79977947473526,
 67.64422667399049,
 68.01632796227932,
 67.83051127940416,
 68.07229519169778,
 67.67928165197372,
 67.76014639437199,
 67.6579338312149,
 68.01475835591555,
 68.20711911469698,
 67.9738700389862,
 68.96587365865707,
 68.25328016281128,
 68.2615542858839,
 68.57043907418847,
 68.39061847515404,
 68.3648930490017,
 67.98293380998075,
 67.66093085706234,
 66.35703289695084,
 66.7132867127657,
 65.81400671228766,
 65.92271576449275,
 65.63883861154318,
 64.63967220112681,
 64.67195043712854,
 63.67719608545303,
 63.14181435480714,
 72.02079984452575,
 70.80727648735046,
 71.04972466826439,
 69.86198555491865,
 71.03097681701183,
 71.06764978682622,
 71.40568247437477,
 70.26044644415379,
 70.47689106687903,
 70.21682076901197,
 69.60894993320107,
 68.72636765241623,
 67.96254797652364,
 68.6401828750968,
 67.23392176628113,
 67.34020110964775,
 67.1842982918024,
 66.18099925667048,
 65.15597816556692,
 64.80779831111431,
 64.11462959647179,
 61.97453644871712,
 61.32699363678694,
 60.43907321617007,
 60.07116846740246,
 59.349627178162336,
 57.33616371080279,
 56.80860881879926,
 56.41215060651302,
 54.46596861258149,
 61.573883932083845,
 61.52795276232064,
 62.374713495373726,
 62.731565073132515,
 63.48643071949482,
 63.92947901785374,
 64.76629062741995,
 65.09413719177246,
 65.00800357758999,
 65.10431573912501,
 64.67526180297136,
 64.133320748806,
 64.4254817739129,
 63.66010035760701,
 62.75825183466077,
 62.03996350616217,
 61.9478814303875,
 62.01944972574711,
 62.97729328274727,
 62.656394831836224,
 62.87358000874519,
 63.16454814374447,
 62.15275614708662,
 62.68985515832901,
 62.205135986208916,
 62.12854626681656,
 63.27716191858053,
 62.72588851675391,
 62.531498331576586,
 63.080941343680024,
 65.7143293172121,
 64.7909342944622,
 64.90910725295544,
 64.18927401304245,
 63.16912383586168,
 61.78183377161622,
 62.38388767838478,
 61.4099985063076,
 59.94280215352774,
 59.052663430571556,
 59.354361571371555,
 59.03885371237993,
 59.17573559656739,
 58.39356903731823,
 59.09091310482472,
 59.63862086832523,
 59.476582892239094,
 59.46437923889607,
 59.17232233285904,
 59.69281727075577,
 60.20104490220547,
 60.551609609276056,
 61.37769718375057,
 61.55611231178045,
 61.23850670456886,
 61.9665855281055,
 63.26296702027321,
 63.212486773729324,
 61.85711321234703,
 63.37654633074999,
 60.35219265520573,
 60.57762920856476,
 59.96488316357136,
 60.572088822722435,
 62.068313144147396,
 62.42607916891575,
 63.83034387230873,
 64.1634830236435,
 64.78844201564789,
 64.03554099798203,
 63.02852499485016,
 63.0471280887723,
 63.06770084425807,
 61.88940501958132,
 61.620013730600476,
 61.49290997162461,
 61.595942072570324,
 61.127164125442505,
 60.70642913132906,
 60.32385228574276,
 61.34684086218476,
 60.99419966712594,
 62.05714017897844,
 61.499691512435675,
 61.82878364622593,
 60.927240047603846,
 61.09974264726043,
 60.474226616322994,
 61.013624116778374,
 60.278938353061676,
 59.25668353959918,
 60.71240324527025,
 60.567855164408684,
 58.76009905338287,
 59.14774799346924,
 59.520013285800815,
 60.75265547633171,
 61.04231385886669,
 60.84752729162574,
 60.969224475324154,
 61.685566771775484,
 61.13128211349249,
 62.388369150459766,
 62.78626286238432,
 61.98982312902808,
 62.723369086161256,
 63.3785654976964,
 61.85828994587064,
 62.09362334012985,
 62.50995606556535,
 62.749466907233,
 62.661236237734556,
 62.10536194220185,
 60.30954709555954,
 60.521548606455326,
 62.03624002635479,
 61.396130323410034,
 61.59270602464676,
 61.36205892264843,
 61.45859640836716,
 61.85623271018267,
 61.60721953585744,
 61.66465896554291,
 61.8443022929132,
 63.39941143989563,
 63.3157210405916,
 63.24431040883064,
 64.36202256381512,
 64.83354735001922,
 64.80628502182662,
 65.36124882102013,
 65.34353922307491,
 65.61722749099135,
 65.99780002981424,
 66.74208436906338,
 66.89916593953967,
 66.7852085083723,
 66.47924861684442,
 66.25776574015617,
 66.59955749288201,
 67.35673383623362,
 67.68915814720094,
 68.98251858353615,
 67.95275289565325,
 68.52817743271589,
 69.13577118515968,
 69.25244692713022,
 69.91254474967718,
 70.01254251971841,
 70.10755639523268,
 64.66024625860155,
 65.78268060088158,
 64.78268867731094,
 64.73044589161873,
 63.807928539812565,
 62.86618626117706,
 61.9961784183979,
 61.39498093351722,
 59.95278562232852,
 59.714902356266975,
 58.40585058182478,
 57.67265435308218,
 57.6270648650825,
 57.75555003806949,
 56.836321249604225,
 56.84384076297283,
 56.262113615870476,
 56.01995128765702,
 55.60566717386246,
 55.987304389476776,
 56.09510572254658,
 56.51050769537687,
 56.03862872719765,
 56.36893439292908,
 56.5653411000967,
 56.75329136103392,
 56.80287902802229,
 56.6741925701499,
 56.607101395726204,
 56.731216609478,
 54.50077521800995,
 53.50094477459788,
 52.53030002117157,
 50.38589170575142,
 47.369878470897675,
 44.83075952529907,
 43.184917002916336,
 41.43104286491871,
 40.06888736970723,
 38.1201615780592,
 37.44278612732887,
 36.8425706513226,
 36.121384873986244,
 36.33725931867957,
 36.217029113322496,
 36.33507362753153,
 37.07936015725136,
 37.42564753443003,
 36.27615828812122,
 35.639996230602264,
 34.24177639186382,
 33.25012160092592,
 31.773278143256903,
 32.06094226241112,
 31.250888094305992,
 31.42286316026002,
 31.88708157837391,
 32.33482290804386,
 32.60952565073967,
 33.42888680100441,
 32.74492163956165,
 33.44534486532211,
 32.17110073566437,
 31.837870005518198,
 31.742728482931852,
 31.646067202091217,
 30.752986416220665,
 30.569470092654228,
 28.21095211803913,
 27.322735741734505,
 28.10195729136467,
 26.448050156235695,
 24.19963732920587,
 23.475020732730627,
 21.865396900102496,
 21.706319577991962,
 21.542424738407135,
 22.44949895143509,
 21.18296441435814,
 20.170911103487015,
 20.496345087885857,
 17.112961158156395,
 19.894396156072617,
 21.429406195878983,
 21.402025759220123,
 20.761100862175226,
 20.697662468999624,
 21.785531155765057,
 20.648839697241783,
 20.780054569244385,
 36.21218295395374,
 34.92888637445867,
 35.08704048395157,
 35.15675527229905,
 34.869416028261185,
 35.185135155916214,
 37.35603886842728,
 37.548416674137115,
 38.157753145322204,
 39.114885441958904,
 40.078458439558744,
 38.31691373884678,
 39.275673642754555,
 37.616454765200615,
 37.44343850016594,
 37.95064850151539,
 39.20358236134052,
 37.95250800251961,
 38.21035396307707,
 38.51234224438667,
 38.08312701433897,
 38.78206580132246,
 39.33942924439907,
 38.48605078458786,
 40.15672668814659,
 38.45970129966736,
 38.037261087447405,
 38.416042163968086,
 37.5812206864357,
 37.237838581204414,
 41.32866137474775,
 41.84053620696068,
 42.05163052678108,
 41.42487332224846,
 41.30084863305092,
 41.75438652932644,
 40.241872906684875,
 39.49830600619316,
 40.820649310946465,
 40.74394050240517,
 40.73663283884525,
 38.78371547162533,
 37.09240320324898,
 36.64307678490877,
 36.77325154840946,
 35.455915197730064,
 35.31802552938461,
 35.1646484285593,
 33.73537850007415,
 33.53266404569149,
 33.80936473608017,
 33.008616864681244,
 32.632310047745705,
 31.77508670091629,
 31.014642536640167,
 28.444264367222786,
 27.050297617912292,
 25.928126335144043,
 25.759403130039573,
 25.52358254790306,
 45.32383020222187,
 46.01380658149719,
 45.13378947600722,
 45.06219330430031,
 44.15578480064869,
 43.620674911886454,
 44.07153958082199,
 43.44172617793083,
 43.666109286248684,
 43.43831203877926,
 42.637706998735666,
 41.93661251664162,
 41.067995838820934,
 39.89423145353794,
 39.088817834854126,
 38.896025616675615,
 37.25554744526744,
 35.80440793186426,
 34.15083347260952,
 33.24298193305731,
 33.043496645987034,
 31.175802264362574,
 31.101918011903763,
 29.328697331249714,
 28.685440622270107,
 27.247403725981712,
 27.59349288791418,
 25.45141571946442,
 23.897760298103094,
 22.962461119517684]

In [72]:
# Simpan File tiap 50
lim = 840
i = 840
df_coba3 = pd.DataFrame(df_Br.index[-840:].values, columns=['Date'])
df_coba3['pred'] = pred_all
df_coba3.set_index(pd.DatetimeIndex(df_coba3['Date']), inplace=True)
df_coba3.drop(['Date'],axis=1,inplace=True)
df_coba3.to_csv(f'Pred_MLP60_150_CEEMD-{lim}-{lim-i}.csv',index=True)
df_coba3.to_excel(f'Pred_MLP60_150_CEEMD-{lim}-{lim-i}.xlsx',sheet_name='Sheet1',index=True)

In [ ]:
# 04. Hitung Error Measurement

In [16]:
def timeseries_evaluation_metrics_func(y_true, y_pred):    
    def mean_absolute_percentage_error(y_true, y_pred):
        y_true, y_pred = np.array(y_true), np.array(y_pred)
        return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
    print('Evaluation metric results:-')
    print(f'MSE is : {metrics.mean_squared_error(y_true, y_pred)}')
    print(f'MAE is : {metrics.mean_absolute_error(y_true, y_pred)}')
    print(f'RMSE is : {np.sqrt(metrics.mean_squared_error(y_true, y_pred))}')
    print(f'MAPE is : {mean_absolute_percentage_error(y_true, y_pred)}')
    print(f'R2 is : {metrics.r2_score(y_true, y_pred)}',end='\n\n')

In [19]:
# len(df_Br['Close'][-900:-450])

450

In [20]:
timeseries_evaluation_metrics_func(df_Br['Close'][-840:], pred_all)

Evaluation metric results:-
MSE is : 21.745484610139826
MAE is : 2.9868748591494043
RMSE is : 4.6632054008096
MAPE is : 6.8922772577159686
R2 is : 0.8791442273577725